body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer{
  position: absolute;
  padding-top: 15px;
  height: 50px;
  width: 100%;
  background-color: #c7c7c7;
  color: #414141;
}
.cardDetail{
  height: 230px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
}
ul li{
  padding: 5px;
}
